*,*::before,*::after {
  box-sizing: border-box;
}
body {
  background: rgb(25, 25, 26);
  overflow-x: hidden;
}
#root {
  width: 100%;
  height: 100vh;
}
#terminal {
  display: grid;
  place-items: center;
  width: 65%;
  height: 55vh;
}
#terminal .window-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2vh;
  padding: 2px 5px;
  gap: 8px;
}
.window-header .circle {
  aspect-ratio: 1;
  height: 18px;
  background: white;
  border-radius: 50%;
}
.container {
  display: grid;
  place-items: center;
  width: 80%;
}

